{% extends "index.twig" %}
{% block content %}
    {% if id is defined %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" src=" https://s121.labagh.pl/res/cat.png">
            </div>
            <div class="col-sm-8" id="content">
                <div class="friend-card">
                    <div class="card-info">
                        <div class="friend-info" id="profile-page">
                            {% if avatar != "" %}
                                <a href="#" class="pull-left" ><img class="avatar" id="profile-avatar" src="data:image/png;base64, {{ avatar }}"></a>
                            {% else %}
                                <a href="#" class="pull-left"><img class="avatar"  id="profile-avatar" src="https://avatarfiles.alphacoders.com/414/41477.jpg"></a>
                            {% endif %}
                            <h5 id="profile-username">{{ username }}</h5>
                            <div class="profile-info">
                                <p class="profile-label">poziom: {{ level }} </p>
                                <div>
                                    <p>
                                        <h4 class="progress-label">punkty: {{ exp }}</h4>
                                        <div class=" col-md-2">
                                            <!--<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25/100</div>-->
                                            <progress class="progress" value="{{ exp }}" max="500"></progress>
                                        </div>
                                        <br>
                                    </p>
                                </div>
                                <p class="profile-label">O mnie:</p>
                                <div class="profile-about">
                                    {{ description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}